body{
	font: 14px/24px 'PTSans NarrowBold';
	background: #000;
	margin: 0;
	padding: 0;
	min-width: 1112px;
}

 .main-headline ,
 .index-content-title{
	font: 30px/42px 'PTSans NarrowBold';
	color: #000;
}

 .image-figcaption {
	font: 14px/18px 'PTSans NarrowBold';
	color: #000;
}