body{
	font: 14px/24px 'PTSans NarrowBold';
	background: url("") no-repeat #000;
}

 .main-headline ,
 .index-content-title{
	font: 30px/42px 'PTSans NarrowBold';
	color: #000;
}

 .image-figcaption {
	font: 14px/18px 'PTSans NarrowBold';
	color: #000;
}