body{
	font: 14px/24px 'PTSans NarrowBold';
	background: #fff;
	margin: 0;
	padding: 0;
	min-width: 1112px;
}
.clearfix::after{
	content: "";
	display: table;
	clear: both;
}

.container{
	width: 940px;
	padding: 0px 10px;
	margin: 0 auto;
}

.main-header{
	margin-bottom: 60px;
}

.main-navigation{
	float: left;
	width: 780px;
}

.user-block{
	float: right;
	width: 140px;
}

.index-logo{
	width: 368px;
	height: 204px;
	margin: 0 auto;
	margin-bottom: 32px;
} 

.features {margin-bottom: 83px;}

.features-item{
	float: left;
	width: 300px;
	margin-right: 20px;
}

.features-item:last-child{
	margin-right: 0;
}

.index-content{padding: 50px 80px;}

.index-content-news, .index-content-contact{
	float: left;
	width: 380px;
}

.index-content-gallery, .index-content-appointment{
	float: right;
	width: 300px;
}

.main-headline, .index-content-title{
	font: 30px/42px 'PTSans NarrowBold';
	color: #000;
}

.image-figcaption {
	font: 14px/18px 'PTSans NarrowBold';
	color: #000;
}

